.header{
  width:100%;
  align-items: center;
  justify-content: center;
  height:calc(7.7vh);
  background-color: #fbfbfb;
  position:fixed;
  box-shadow: 0 4px 10px 0px rgba(0, 0, 0, 0.5);
}
h1{
  font-family: "Times New Roman";
  font-weight: 1200;
  letter-spacing: 3px;
}
.header40{
  justify-content: center;
  align-content: center;
  padding-top: calc(0.5vh);
  text-align: center;
  width: calc(40%);
  height: 100%;
  float: left;
}
.header40 a{
  margin: 5%;
  text-decoration: none;
  letter-spacing: 2px;
  color: black;
  font-size: 20px;
}
.header30{
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(30%);
  height: 100%;
  float:left;
}
main{
  height:calc(200vh);
  padding: calc(2vw);
  padding-top:calc(10vh);
  width:calc(91vw);
  margin-left:auto;
  margin-right:auto;
  background-color: #ffffff;
  text-align: center;
}
footer{
  height:calc(10vh);
  padding: calc(2vw);
  width:calc(91vw);
  margin-top: 5vh;
  margin-left:auto;
  margin-right:auto;
  background-color: #ffffff;
  text-align: center;
}
body{
  margin: 0;
}
